.nav {
    grid-area: nav;
    display: grid;
    background-color: cadetblue;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    text-align: center;
}

.item {
    padding: 10px;
    font-size: 26px;
    align-self: center;
}

.item:hover {
    opacity: 0.5;
}

.item:hover > *:hover {
    transform: scale(1.1);
    opacity: 1;
}

.item a {
    color: azure;
    text-decoration: none;
}

.item a.active {
    color: goldenrod;
}