.headerFriends {
    grid-area: sitebar;
    background-color: cadetblue;
    color: goldenrod;
    text-align: center;
    padding: 10px;
    font-size: 26px;
}

.itemFriends {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.titleFriends {
    margin-top: 25px;
    padding: 15px;
}


