.app-wrapper {
    display: grid;
    width: 1800px;
    margin: 0 auto;
    grid-template-areas:
            "header header header"
            "nav nav nav"
            "sitebar content content";
    grid-template-rows: 120px 60px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-gap: 2px;
}

.app-wrapper-content {
    grid-area: content;
    background-color: darkcyan;
}